/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary color*/
  --clr-primary-1: #FDED00;
  --clr-primary-2: #3BACBF;
  --clr-primary-3: #DC738B;
  --clr-primary-4: #6A6A6A;
  --clr-primary-5: #ffffff;
  --clr-primary-6: #e6e6e6;
  --clr-primary-7: #575757;
  /* grey used for paragraphs */
  --clr-grey: #6A6A6A;
  --clr-black: #000;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  /* Animation */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  color: var(--clr-grey);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 25px;
}
p {
  color: var(--clr-grey-5);
}
.text-intro p {
  margin-bottom: 20px;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button{
  width: 100%;
  display: block;
  height: 60px;
  background: var(--clr-primary-5);
  border: 2px solid var(--clr-primary-4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--clr-grey);
  transition: var(--transition);
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
}
.button:before {
  content: '';
  position: absolute;
  border: var(--clr-primary-4) solid 2px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: top right bottom left;
}
.button:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
.button2{
  width: 100%;
  display: block;
  height: 60px;
  background: var(--clr-primary-5);
  border: 2px solid var(--clr-primary-2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--clr-primary-2);
  transition: var(--transition);
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
}
.button2:before {
  content: '';
  position: absolute;
  border: var(--clr-primary-2) solid 2px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: top right bottom left;
}
.button2:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
@media screen and (min-width: 840px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Navbar
===============
*/
.text-intro{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-intro p{
  background-color: var(--clr-primary-1);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.logo {
  height: 150px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 1rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-4);
  color: var(--clr-primary-5) ;
}
.nav-center{
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  border-bottom: 2px solid var(--clr-primary-4);
}
.show-links {
  height: 100%;
}
@media screen and (min-width: 840px) {
  .nav-center {
    max-width: 1170px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--clr-primary-4);
    border-top: 2px solid var(--clr-primary-4);
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
  }
  .connect-link{
    cursor: pointer;
    background: var(--clr-primary-4);
    color: var(--clr-primary-5) !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
  .dropdown-menu{
    position: absolute;
    background: var(--clr-primary-6);
   /* visibility: hidden;*/
   display: none;
  }
  .show-dropdown-menu{
    display: block;
  }
}
.dropdown-menu a{
  display: block;
}

@media screen and (max-width: 840px) {
  .flex{
    flex-direction: column;
  }
  .flex-space-between{
    flex-direction: column;
    justify-content: center;
  }
  .connect-link{
    cursor: pointer;
    background: var(--clr-primary-4);
    color: var(--clr-primary-5) !important;
    display: flex !important;
    align-items: center;
  }
  .dropdown-menu{
    background: var(--clr-primary-6);
    /* visibility: hidden; */
    display: none;
  }
  .show-dropdown-menu{
    display: block;
  }
}
/*
=============== 
Burger Menu
===============
*/
button.burger {
  width: 60px;
  height: 30px;
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin: 50px;
}
button.burger:focus {
  outline: none;
}
button.burger.burger2:after, button.burger.burger2:before, button.burger.burger2 span {
  width: 100%;
  height: 4px;
  border-radius: 100px;
  position: absolute;
  display: block;
  background: var(--clr-primary-4);
}
button.burger.burger2:after, button.burger.burger2:before {
  content: "";
  transition: 0.3s width 0.4s;
}
button.burger.burger2:after {
  top: 0px;
  left: 0px;
  margin-top: 0px;
}
button.burger.burger2:before {
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;
}
button.burger.burger2 span {
  top: 50%;
  margin-top: -2px;
  transition: transform 0.3s;
}
button.burger.burger2 span:before {
  content: "";
  background: var(--clr-primary-4);
  width: 100%;
  height: 4px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  transition: transform 0.3s;
}
button.burger.burger2.on:after {
  transition: all 0.2s;
  width: 0%;
  left: 0px;
}
button.burger.burger2.on:before {
  transition: all 0.2s;
  width: 0%;
  right: 0px;
}
button.burger.burger2.on span {
  transform: rotate(45deg);
  transition: 0.3s transform 0.4s;
}
button.burger.burger2.on span:before {
  transform: rotate(-90deg);
  transition: 0.3s transform 0.4s;
}



/*
=============== 
Footer
===============
*/

.footer{
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--clr-primary-4);
}

.footer a{
  text-decoration: none;
  color: var(--clr-primary-4);
}

@media screen and (max-width: 840px) {
  .footer{
    flex-direction: column;
  }

}

/*
=============== 
HOME
===============
*/

.content{
  display: flex;
  justify-content: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.block-home{
  width: 100%;
  max-width: 1170px;
}

@media screen and (max-width: 1170px) {
  .block-home{
    width: 90% ;
  }
}
@media screen and (max-width: 840px) {
  .content{
    background-size: 0;
  }
}
/*block ABC*/
.block-ABC{
  background: #fff;
  border: 1px solid #707070;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 16%);
  padding: 2%;
  width: 459px;
}
.block-ABC img{
  height: 170px;
}
.block-ABC span{
  color: var(--clr-primary-3);
  font-weight: bold;
  font-size: 35px
}
.block-ABC p{
  color: var(--clr-primary-3);
  font-weight: bold;
  font-size: 25px;
  text-align:center;
  text-transform:uppercase;
}
.more{
  font-size: 100px;
  color: var(--clr-primary-7);
}

/*Information*/
.info{
  background: #fff;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 16%);
  padding: 2%;
  width: 22%;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: var(--transition);
}
.info:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.03);
box-shadow: 0px 0px 59px -34px rgba(0,0,0,0.75);

}
.cover-info{
  height: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 5%;
}
.info a{
  color: var(--clr-primary-2);
  font-size: 20px;
  font-weight: bold;
}
.title-info{
  color: var(--clr-primary-2);

}
/*Contact*/
.form-contact {
  width: 60%;
}
.form-contact label, input, textarea{
  display: block;
  width: 100%;
}
.form-contact input, textarea{
  outline: none;
  background: var(--clr-primary-5);
  box-sizing: border-box;
  padding: 12px 20px;
  color: var(--clr-black);
  transition: 0.3s ease;
  height: 50px;
  border: 1px solid var(--clr-grey);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

.form-contact input{
  width: 100%;
}

.form-contact-block{
  align-items: flex-start;
}

.form-contact-block1{
  width: 40%;
  margin-right: 5%;
}
.form-contact-block2{
  width: 55%;
}
.form-contact-block2{
  height: 100%;
}
.form-contact-block2 textarea{
  height: 346px;
}

@media screen and (max-width: 840px) {
  .form-contact-block1{
    width: 100%;
    margin-right: 0%;
  }
.form-contact-block2 {
    width: 100%;
}
.info{
  width: 100%;
}
}